body {
  background-color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
}
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-family: "Roboto", "Open Sans", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  /* color: rgb(47 47 47); */
  box-sizing: border-box;
}

p {
  margin-top: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

section ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

:root {
  --darkRed: #b61113;
  /* --gap:2rem; */
}

.text-center {
  text-align: center;
}
.center {
  margin: 0 auto;
}

.container {
  max-width: 55rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.flex,
.split {
  display: flex;
}
.split{
  flex-wrap: wrap;
}
.text-white{
    color:white;
}

.black{
    background-color: rgb(24, 24, 27);
}

.sectionHeadline h2 {
  padding-bottom: 1rem;
  font-size: 2.75rem;
  font-family: "Roboto", "Open Sans", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-weight: 300;
}
.pismonamjere {
  padding-top: 2rem;
  display: block;
  transition: 0.2s;
}

.pismonamjere:hover {
  transform: scale(1.2);
  transition: 0.2s;
}

h2 {
  margin-left: 1rem;
}

.block {
  display: block;
}

.limit8 {
  max-width: 8rem;
}

.padding4 {
  padding: 0.5rem;
}

.paddingY5 {
  padding: 5rem 0;
}

.limit15 {
  max-width: 15rem;
}

.padding4 {
  padding: 0.5rem;
}

.img-resp {
  max-width: 100%;
  height: auto;
}

.one-third {
  flex-basis: 33.3%;
}

@media (max-width: 40em) {
  .one-third {
    flex-basis: 100%;
  }
  .split {
    flex-direction: column;
  }
}

/*
----------------------------
START Navigation
----------------------------
*/

.main-navigation {
  display: flex;
  justify-content: space-around;
}

.main-navigation li a {
  text-decoration: none;
}

nav ul {
  list-style-type: none;
  gap: var(--gap, 1rem);
}
nav {
  width: 100%;
  padding: 0 1rem;
}

li a {
  color: white;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  display: block;
  padding: 0.2rem 1rem;
}
li a:hover {
  color: var(--darkRed);
}

.hamburger {
  display: none;
}
@media (max-width: 40em) {
  .main-navigation {
    padding-top: 1.3rem;
  }
  .main-navigation {
    flex-direction: column;
  }
  .main-navigation li {
    text-align: center;
  }
  .main-navigation li {
    padding-top: 0.05rem;
    padding-bottom: 0.05rem;
  }
  li a {
    padding: 0rem 1rem;
  }
}

.header-menu {
  background-color: rgba(0, 0, 0, 0.3);
}

header {
  /* background-image: url(images/isuzu-header-bg.png); */
  min-height: 100vh;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#background-video {
  width: 100%;
  height: auto;
  object-fit: cover;
  left: 0;
  right: 0;
  top: 0rem;
  bottom: 0;
  z-index: -1;
  position: absolute;
}
.hamb {
  display: flex;
  justify-content: end;
}

.hamburger {
  padding-bottom: 1rem;
  padding-right: 2rem;
  margin: 1rem 0;
}
@media (max-width: 40em) {
  .hamburger {
    display: block;
  }
}
.border-menu {
  position: relative;
  padding-left: 1.25em;
}
.border-menu:before {
  content: "";
  position: absolute;
  top: 0.25em;
  left: 0;
  width: 2em;
  height: 0.125em;
  border-top: 0.375em double rgb(243, 243, 243);
  border-bottom: 0.125em solid rgb(255, 255, 255);
}

.hidden {
  display: none;
}

.header-menu {
  position: fixed;
  width: 100%;
}

.logo {
  display: flex;
  padding-top: 3rem;
  justify-content: space-between;
}

/*
----------------------------
End:::Navigation
----------------------------
*/

/*
----------------------------
Car Tab
----------------------------
*/
.tab h2 {
  /* text-transform: uppercase; */
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}
.variant {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  margin: 1rem auto;
  text-align: center;
}
.tab {
  padding: 1rem;
}
.car-image {
  margin: 2rem 0 1rem 0;
  transform: scale(1);
  transition: all 1s;
}
.car-image:hover {
  transform: scale(1.3);
  transition: all 0.2s;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  margin: 0 0.5rem;
  display: inline-block;
}

/*
----------------------------
End:::Car Tab
----------------------------
*/

.kamionih2 {
  font-size: 2.5rem !important;
  color: rgb(92, 90, 102) !important;
  font-weight: 400;
}

#usluge .header h2 {
  color: #5e5c68;
  font-weight: 500;
}

#usluge .tab {
  border: 1px solid rgb(220, 217, 228);
  background: rgb(255, 255, 255);
  background: linear-gradient(
    183deg,
    rgba(255, 255, 255, 1) 0%,
    rgb(248, 248, 248) 100%
  );
}

#usluge .tab:hover {
    border: 1px solid rgb(220, 217, 228);
    background: rgb(255, 255, 255);
    background: linear-gradient(
      183deg,
      rgba(255, 255, 255, 1) 0%,
      rgb(240, 239, 239) 100%
    );
  }
#usluge .service-image {
  max-width: 80px;
  display: block;
  margin: 0 auto;
}
#usluge .desc {
  text-align: center;
  color: #5e5c68;
}

.uslube-btn {
  min-width: 120px;
  display: inline-block;
  background-color: rgb(74, 73, 82);
  margin: 0 auto;
  color: white;
  text-decoration: none;
  text-align: center;
  margin-top: 1rem;
  padding: 0.2rem 1rem;
  border-radius: 2px;
  font-size: 1.2em;
}
.uslube-btn:hover {
  background-color: rgb(19, 19, 19);
}

#usluge .tab{
    margin: 1rem;
    padding: 1.5rem 0.5rem;
}

/*
======================= */
footer{
    color:rgb(238, 238, 245);
}

footer{
    padding: 0.8rem 0 1.5rem 0;
}

footer h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

footer .clean-top{
    margin-top:0;
}
footer a{
    color:rgb(235, 215, 215);
}

footer a:hover{
    color:rgb(214, 136, 136);
}


/* ==========KATALOZI============= */

.preuzmi-btn {
    min-width: 120px;
    display: inline-block;
    background-color: var(--darkRed);
    margin: 0 auto;
    color: white;
    text-decoration: none;
    text-align: center;
    margin-top: 0rem;
    padding: 0.2rem 1rem;
    border-radius: 2px;
    font-size: 1.2em;
  }
  .preuzmi-btn:hover{
      background-color: #95070a;
  }
  .pdf-image{
      max-width: 140px;
      margin: 0 auto;
      margin-top:1rem;

  }
  .katalog-opis {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 1.2em;
    margin: 1rem auto;
    text-align: center;
    margin-top:0rem;
  }

  #katalozikamioni .one-third{
    flex-basis:25%;
  }
  #katalozikamioni .preuzmi-btn{
    padding: 0.2rem 0.5rem;
    border-radius: 2px;
    font-size: 1.1em;
  }

  .linktodocs h2{
    font-weight: 400;
    margin-left:0;
    font-size:1.1rem;
  }
  .linktodocs a{
    text-decoration: none;
    color:rgb(22, 22, 22);
    display: inline-block;
    background-color: #e6e6e9;
    padding: 0.1em 1em;
  }
  .linktodocs a:hover{
    color:black;
    background-color: #cacacf;
  }